{% extends "food_order/base.html" %}
{% load static %}

{% block title %}
  Корзина
{% endblock %}

{% block content %}
  <h1>Корзина</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Image</th>
        <th>Dish</th>
        <th>Amount</th>
        <th>Remove</th>
        <th>Price</th>
        <th>Total price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with dish=item.dish %}
        <tr>
          <td>
            <a href="{{ dish.get_absolute_url }}">
              <img src="{% if dish.image %}{{ dish.image.url }}
              {% else %}{% static 'img/no_image.png' %}{% endif %}">    
            </a>
          </td>
          <td>{{ dish.name }}</td>
          <td>{{ item.amount }}</td>
          <td>
            <form action="{% url 'cart:cart_remove' dish.id %}" method="post">
              <input type="submit" value="Remove">
              {% csrf_token %}
            </form>
          </td>
          <td class="num">{{ item.price }} ₽</td>
          <td class="num">{{ item.total_price }} ₽</td>
        </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }} ₽</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'food_order:dish_list' %}" class="button 
    light">Continue shopping</a>
    <a href="{% url 'orders:order_create' %}" class="button">Checkout</a>
  </p>
{% endblock %}
