{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="e">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=no">
        <title>Order food</title>

        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-ligth bg-light mb-4 border">
            <a class="navbar-brand" href="{% url 'food_order:index'%}">
                Order food</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              
            </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'food_order:dish_list' %}">
                            Меню</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'cart:cart_detail' %}">
                          Корзина</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'orders:orders_history' %}">
                          История заказов</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                      <li class="nav-item">
                        <span class="navbar-text">{{ user.username }}</span>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">Выход</a>
                      </li>
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register' %}">Зарегистрироваться</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Войти</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
            <div class="container pb-2 mb-2 border-bottom">
                {% block page_header %}{% endblock page_header %}
            </div>
            <div class="container-fluid pb-2 mb-2 noborder" >
                {% block content %}{% endblock content %}
            </div>

    </body>

</html>