{% extends "food_order/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block page_header %}

    <div class="jumborton">
      <div class="text-center"><h1 class="display-3">Сервис для корпоративного заказа еды</h1></div>

      <p class="lead">Регистрируйся и заказывай любимую еду</p>

      <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
         role="button">Зарегистрироваться</a>
      <a class="btn btn-lg btn-outline-primary" href="{% url 'users:login' %}"
         role="button">Войти</a>
    </div>

{% endblock page_header %}