{% extends "food_order/base.html" %}
{% load static %}
{{ form.media }}

{% block page_header %}
  <div class="text-center"><h1>Мои заказы</h1></div>
{% endblock %}

{% block content %}
  {% if orders %}
  <div class="row mr-auto">
    <div class="col-md-1 col-lg-2"></div>
    <div class=" col-12 col-sm-12 col-md-10 col-lg-8">
      <table class="table table-striped shoplist">
        <thead class="shopunit" >
          <tr>
            <th class="primary">
              <h5 class="text-center">Номер заказа</h5>
            </th>
            <th class="primary">
              <h5 class="text-center">Дата доставки</h5>
            </th>
            <th class="primary">
              <h5 class="text-center">Сотрудник</h5>
            </th>
            <th class="primary">
              <h5 class="text-center">Состав</h5>
            </th>
            <th class="primary">
              <h5 class="text-center">Сумма</h5>
            </th>
            <th class="primary">
              <h5 class="text-center">Отчет по закзу</h5>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td>
                <h6 class="text-center">{{ order.id }}</h6>
              </td>
              <td>
                <h6 class="text-center">{{ order.date }}</h6>
              </td>
              <td>
                <h6 class="text-center">{{ user.username }}</h6>
              </td>
              <td>
                {% for dishes in order.dishes %}
                  <h6 class="text-center">{{ dishes }}</h6>
                {% endfor %}
              </td>
              <td>
                <h6 class="text-center">{{ order.price }} ₽</h6>
              </td>
              <td>
                <a href="{% url 'orders:order_pdf' order.id %}"><h6 class="text-center"><i class="bi bi-envelope-at-fill"></i> Скачать</h6></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" with page=orders %}
      <p class="text-right">
        <a  href="{% url 'food_order:dish_list' %}" class="btn btn-outline-primary">Продолжить покупки</a>
      </p>
    </div>
    <div class="col-md-1 col-lg-2"></div>
  </div>
  {% else %}
  <h4 class="mt-3 mb-3 text-center">
    Заказов еще не было
  </h4>
  {% endif %}

{% endblock %}