{% extends "food_order/base.html" %}
{% load static %}
{{ form.media }}

{% block page_header %}
  <h1>История заказов</h1>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12 col-md-offset-1">
      <table class="table table-striped shoplist">
        <thead class="shopunit" data-sizes="[&quot;4&quot;, &quot;3&quot;, &quot;2&quot;, &quot;1&quot;]">
          <tr>
            <th class="primary">
              <h4 class="text-center">Номер заказа</h4>
            </th>
            <th class="primary">
              <h4 class="text-center">Дата доставки</h4>
            </th>
            <th class="primary">
              <h4 class="text-center">Сотрудник</h4>
            </th>
            <th class="primary">
              <h4 class="text-center">Сумма</h4>
            </th>
            <th class="primary">
              <h4 class="text-center"></h4>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td>
                <h5 class="text-center">{{ order.id }}</h5>
              </td>
              <td>
                <h5 class="text-center">{{ order.date }}</h5>
              </td>
              <td>
                <h5 class="text-center">{{ user.username }}</h5>
              </td>
              <td>
                  <h5 class="text-center">{{ order.price }} ₽</h5>
              </td>
              <td>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% include "pagination.html" with page=orders %}
      <p class="text-right">
        <a  href="{% url 'food_order:dish_list' %}" class="btn btn-outline-primary">Продолжить покупки</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}