<html>
<body>
  <h1>Order food</h1>
  <p>
    Заказ №{{ order.id }} от {{ order.created|date:"d M, Y" }}
    <br>
    Доставить {{ order.date| date:"d M, Y" }}
  </p>
  <h3>Заказ на</h3>
  <p>
    {{ order.name }}<br>
  </p>
  <h3>Купленные товары</h3>
  <table>
    <thead>
        <tr>
        <th>Блюдо</th>
        <th>Стоимость</th>
        <th>Количество</th>
        <th>Цена</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.items.all %}
        <tr class="row{% cycle "1" "2" %}">
        <td>{{ item.dish.name }}</td>
        <td class="num">{{ item.price }} руб.</td>
        <td class="num">{{ item.quantity }}</td>
        <td class="num">{{ item.get_cost }} руб.</td>
        </tr>
        {% endfor %}
        <tr class="total">
        <td colspan="3">Итого</td>
        <td class="num">{{ order.get_total_cost }} руб.</td>
        </tr>
    </tbody>
  </table>
  <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
{% if order.paid %}Paid{% else %}Pending payment{% endif %}
  </span>
</body>
</html>