{% extends "food_order/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h1>Изменить аккаунт</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row g-5">
        <form method="post" action="{% url 'users:edit' %}" class="form">
            {% bootstrap_form user_form%}
            {% csrf_token %}
            {% buttons %}
            <button name="submit" class="btn btn-primary">Сохранить изменения</button>
            {% endbuttons %}
            <p><input type="hidden" name="next" value="{% url 'food_order:index' %}"></p>
        </form>
        </div>
    </div>
{% endblock %}