{% extends "food_order/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <div class="text-center"><h1 class="display-3">Регистрация</h1></div>
{% endblock %}

{% block content %}
<div class="container">
  <form method="post" action="{% url 'users:register' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form user_form %}
    {% bootstrap_form employee_form %}
    {% buttons %}
    <a href="{% url 'food_order:dish_list' %}"><button name="submit" class="btn btn-primary">Зарегистрироваться</button></a>
    {% endbuttons %}

    <input type="hidden" name="next" value="{% url 'food_order:dish_list' %}">
  </form>
</div>
{% endblock content %}