{% extends "food_order/base.html" %}
{% load static %}

{% block page_header %}
  <div class="text-center"><h1>{% if category %}{{ category.name }}{% else %}Меню{% endif %}</h1></div>
{% endblock %}

{% block content %}
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-3 col-sm-3 col-md-2">
          <div class="list_group">
            <or {% if not category %}class="selected"{% endif %}>
              <a href="{% url 'food_order:dish_list' %}" class="list-group-item list-group-item-action">Все</a>
            </or>
            {% for c in categories %}
              <or {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}" class="list-group-item list-group-item-action">{{ c.name }}</a>
              </or>
            {% endfor %}
          </div>
          <div>
            <br>
              <form action="{% url 'cart:cart_add_random_food' %}" method="post">
                {{ cart_dish_form.override }}
                {% csrf_token %}
                <button role="submit" class="btn center btn-success">Мне повезет <br> с едой</button>
                <input type="hidden" name="next" />
              </form>
            <br>
              <form action="{% url 'cart:cart_add_random_drink' %}" method="post">
                {{ cart_dish_form.override }}
                {% csrf_token %}
                <button role="submit" class="btn btn-success">Мне повезет <br> с напитком</button>
                <input type="hidden" name="next" />
              </form>
            <br>
          </div>
        </div>
      
        

        <div class="col-9 col-sm-9 col-md-10 ">

          <!--
          <div class="row">
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                    <a href="#" class="close">x</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          -->
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
            <div class="card-deck mb-3 text-center">
              {% for dish in dishes %}
              <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card mb-4 box-shadow">
                  <div class="card-header">
                    <h4 class="my-0 font-weight-normal" style="height: 3rem">{{ dish.name }}</a></h4>
                  </div>
                    <a href="{{ dish.get_absolute_url }}">
                      <img class="card-img w-30 h-20"
                        style="height: 13rem"
                        src="{% if dish.image %}{{ dish.image.url }}
                              {% else %}{% static 'img/no_image.png' %}{% endif %}"
                        alt="">
                    </a>
                  <div class="card-body">
                    
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item card-text text-center"><h5>{{ dish.price }} руб.</h5></li>
                      <li class="list-group-item text-center">
                        <form action="{% url 'cart:cart_add' dish.id %}" method="post">
                          {{ cart_dish_form }}
                          {% csrf_token %}
                          <button role="submit" class="btn btn-primary">В корзину</button>
                          <input type="hidden" name="next" />
                        </form>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% include "pagination.html" with page=dishes %}

        </div>
      </div>
    </div>
  </section>
{% endblock %}

<script src="src/bootstrap-input-spinner.js"></script>
<script>
    $("input[type='number']").inputSpinner();
</script>
